<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>choose_map/targetboxlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,133},{217,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,173}</string>
			</dict>
			<key>choose_map/top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{920,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{920,130}</string>
			</dict>
			<key>choose_map/weekgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,370},{106,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,111}</string>
			</dict>
			<key>element/blue_bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,478},{71,58}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,133},{35,48}}</string>
				<key>offset</key>
				<string>{22,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,849},{69,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/blue_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,767},{83,81}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,593},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/blue_shadow_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,721},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/bomb_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,765},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/broom.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,933},{64,88}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,465},{88,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,90}</string>
			</dict>
			<key>element/bubble_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,415},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>element/bucket.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,322},{189,194}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>element/bucket_buttom.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,133},{187,200}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>element/bucket_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,321},{142,87}}</string>
				<key>offset</key>
				<string>{27,54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>element/cage.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,687},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/cheese.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,680},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/cheese_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,654},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/chocolate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,679},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/chocolate1_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,513},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/chocolate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,764},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/chocolate2_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,634},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/chocolate3.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,856},{84,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/chocolate3_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,478},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/color_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,772},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,458},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/devil_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,858},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/devil_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,900},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/devil_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,935},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/devil_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,939},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/devil_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,941},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,370},{91,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,71}</string>
			</dict>
			<key>element/fly_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,894},{71,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,553},{73,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/green_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,449},{62,38}}</string>
				<key>offset</key>
				<string>{-9,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/green_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,624},{70,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/green_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,679},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/green_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,825},{83,81}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/green_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,513},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/green_shadow_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,600},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/hammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,463},{73,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/honor.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,308},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>element/hot_balloon.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,639},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/hot_balloon_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,683},{80,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/ice1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,814},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/ice1_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,546},{86,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/ice2.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,741},{82,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/ice2_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,505},{86,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/light_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{276,276}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>element/magic_stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,595},{69,86}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/purple_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,905},{69,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/purple_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,773},{84,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/purple_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,807},{83,81}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/purple_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,566},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/purple_shadow_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,642},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/rainbow_brush.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,849},{65,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/rainbow_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,849},{76,73}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/rainbow_sugar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,858},{84,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/rainbow_sugar_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,370},{88,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/red_bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,551},{71,57}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/red_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,553},{40,43}}</string>
				<key>offset</key>
				<string>{-20,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/red_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,696},{69,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/red_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,680},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/red_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,850},{83,81}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/red_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,555},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/red_shadow_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,686},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/small_bucket.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,772},{80,82}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,858},{77,79}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,924},{58,54}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>element/star_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{218,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,200}</string>
			</dict>
			<key>element/star_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,725},{82,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/star_stone_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,941},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/winnower.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,599},{80,78}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/winnower_action.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,133},{235,241}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>element/winnower_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,599},{80,78}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/winnower_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,890},{82,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/yellow_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,513},{46,38}}</string>
				<key>offset</key>
				<string>{2,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/yellow_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,967},{70,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/yellow_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,764},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/yellow_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,809},{83,81}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/yellow_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,600},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>element/yellow_shadow_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,728},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>public/publicbtn23.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,321},{126,48}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,54}</string>
			</dict>
			<key>public/publicbtn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{318,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_3.png</string>
			<key>realTextureFileName</key>
			<string>csi_3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>