<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank/add_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,763},{253,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,36}</string>
			</dict>
			<key>rank/anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,752},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>rank/back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,827},{82,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,77}</string>
			</dict>
			<key>rank/bg_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,125},{273,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,126}</string>
			</dict>
			<key>rank/black1.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,858},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>rank/black2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,383},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>rank/black3.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,734},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>rank/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,253},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>rank/cup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,486},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>rank/cup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,689},{89,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,97}</string>
			</dict>
			<key>rank/cup3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,712},{89,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,97}</string>
			</dict>
			<key>rank/dianzan.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,734},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>rank/down_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{116,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,105}</string>
			</dict>
			<key>rank/f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,991},{95,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,25}</string>
			</dict>
			<key>rank/f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,596},{122,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,34}</string>
			</dict>
			<key>rank/frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,819},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>rank/frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,819},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>rank/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,991},{76,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,29}</string>
			</dict>
			<key>rank/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,668},{99,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,37}</string>
			</dict>
			<key>rank/gift_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1000},{61,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,21}</string>
			</dict>
			<key>rank/global_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,253},{388,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,35}</string>
			</dict>
			<key>rank/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,784},{150,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,68}</string>
			</dict>
			<key>rank/good_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1},{427,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{427,35}</string>
			</dict>
			<key>rank/icon_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,936},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>
			<key>rank/imggifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,380}</string>
			</dict>
			<key>rank/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,763},{114,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,15}</string>
			</dict>
			<key>rank/lose_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,643},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>rank/lose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,253},{341,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,73}</string>
			</dict>
			<key>rank/lottery_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,383},{148,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,49}</string>
			</dict>
			<key>rank/lottery_watch_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{357,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,122}</string>
			</dict>
			<key>rank/lottery_watch_tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,351},{315,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,90}</string>
			</dict>
			<key>rank/more_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,351},{431,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,32}</string>
			</dict>
			<key>rank/n_lotteryicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,991},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>
			<key>rank/n_ranklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,668},{348,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,59}</string>
			</dict>
			<key>rank/no_enuugh.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,125},{439,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,72}</string>
			</dict>
			<key>rank/no_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1},{348,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,119}</string>
			</dict>
			<key>rank/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,879},{16,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,936},{15,27}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,908},{16,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/playerlevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,698},{106,34}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>rank/rank_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,566},{385,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,60}</string>
			</dict>
			<key>rank/starbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,953},{140,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,56}</string>
			</dict>
			<key>rank/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,596},{117,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,36}</string>
			</dict>
			<key>rank/total.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,953},{373,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,36}</string>
			</dict>
			<key>rank/up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,383},{117,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,101}</string>
			</dict>
			<key>rank/watch_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,430},{331,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,51}</string>
			</dict>
			<key>resurgence/five.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{174,147}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,148}</string>
			</dict>
			<key>game/lockicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,803},{78,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,94}</string>
			</dict>
			<key>effect/chooose/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,596},{114,77}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light10.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,415},{114,77}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,712},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,780},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light13.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,494},{114,77}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light14.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,573},{114,77}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light15.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,596},{114,77}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,775},{116,78}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,686},{116,78}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,800},{118,79}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,632},{118,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,490},{120,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{121,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,495},{121,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light9.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,577},{119,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>game/targetboxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,953},{162,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,45}</string>
			</dict>
			<key>game/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,953},{26,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,25}</string>
			</dict>
			<key>honor/honornumbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,991},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>
			<key>honor/honoricon_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,979},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>jctg/moreicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,383},{110,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,105}</string>
			</dict>
			<key>jctg/moredes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,991},{81,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,30}</string>
			</dict>
			<key>jctg/jctg_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,953},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_4.png</string>
			<key>realTextureFileName</key>
			<string>csi_4.png</string>
			<key>size</key>
			<string>{1023,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>