<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guide/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,623},{114,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,145}</string>
			</dict>
			<key>rank/piaodai.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1},{598,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,155}</string>
			</dict>
			<key>rank/win_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{537,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{537,92}</string>
			</dict>
			<key>shop/n_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,158},{324,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,179}</string>
			</dict>
			<key>game/not_enough.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,319},{302,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,129}</string>
			</dict>
			<key>sign/parachute2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,158},{223,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,258}</string>
			</dict>
			<key>jctg/jctg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,874},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,383},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,383},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,503},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>game/claim_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,829},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>game/collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,495},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>choose_map/n_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,769},{101,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,30}</string>
			</dict>
			<key>game/resultdiamondbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,652},{233,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,129}</string>
			</dict>
			<key>lottery/n_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,637},{102,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,29}</string>
			</dict>
			<key>game/s_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{101,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,30}</string>
			</dict>
			<key>game/s_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,982},{98,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,30}</string>
			</dict>
			<key>shop/9001.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,752},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>shop/9002.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,860},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>shop/9003.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,820},{113,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,129}</string>
			</dict>
			<key>shop/des.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,158},{492,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{492,28}</string>
			</dict>
			<key>shop/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,319},{508,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{508,66}</string>
			</dict>
			<key>public/publicbtn33.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,319},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>omg/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,503},{113,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,115}</string>
			</dict>
			<key>omg/iconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,752},{120,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,123}</string>
			</dict>
			<key>pngdata/gift/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,530},{101,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>rank/imggifticon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{405,316}}</string>
				<key>offset</key>
				<string>{16,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,380}</string>
			</dict>
			<key>shop/price.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,829},{80,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,27}</string>
			</dict>
			<key>shop/price5.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,769},{101,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,36}</string>
			</dict>
			<key>shop/saleicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,652},{135,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,166}</string>
			</dict>
			<key>public/publicbtn34.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,652},{256,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,98}</string>
			</dict>
			<key>rank/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,829},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>choose_map/message_openbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,858},{324,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,122}</string>
			</dict>
			<key>choose_map/message_refusebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,339},{189,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,75}</string>
			</dict>
			<key>choose_map/messagedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,637},{130,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,39}</string>
			</dict>
			<key>choose_map/messageicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,936},{83,88}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_6.png</string>
			<key>realTextureFileName</key>
			<string>csi_6.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>