<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>choose_map/big_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,726},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>choose_map/blue_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,263},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,342},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,301},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,263},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,728},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,769},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,303},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,303},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,263},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,343},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,303},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,263},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,342},{36,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,302},{36,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,853},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,263},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,383},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,383},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,810},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,852},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/btnAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,659},{72,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,65}</string>
			</dict>
			<key>choose_map/choose_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,790},{90,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>choose_map/choose_btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,718},{113,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,125}</string>
			</dict>
			<key>choose_map/free.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,971},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>choose_map/freegift.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,845},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>
			<key>choose_map/gray_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,894},{88,77}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>choose_map/gray_choose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,662},{105,94}}</string>
				<key>offset</key>
				<string>{4,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,125}</string>
			</dict>
			<key>choose_map/honor.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,595},{118,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,136}</string>
			</dict>
			<key>choose_map/levelbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,428},{139,150}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,155}</string>
			</dict>
			<key>choose_map/leveliconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,894},{120,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,123}</string>
			</dict>
			<key>choose_map/limitpower.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,478},{83,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>
			<key>choose_map/lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,657},{116,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,131}</string>
			</dict>
			<key>choose_map/n_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,430},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>choose_map/n_diamond_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,430},{197,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,66}</string>
			</dict>
			<key>choose_map/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,498},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,60}</string>
			</dict>
			<key>choose_map/purple_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,511},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,430},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,511},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,971},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,887},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,935},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,430},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,263},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,308},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,353},{42,44}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,353},{42,44}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,563},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,611},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,430},{44,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,430},{44,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,929},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,977},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/question.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,430},{54,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>choose_map/reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,390},{126,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,129}</string>
			</dict>
			<key>choose_map/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,758},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>
			<key>choose_map/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,580},{116,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,136}</string>
			</dict>
			<key>choose_map/signin.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,795},{92,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,103}</string>
			</dict>
			<key>choose_map/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,853},{43,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,38}</string>
			</dict>
			<key>choose_map/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,339},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>choose_map/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,380},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>choose_map/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,301},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>guide/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,174},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>guide/pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,428},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>guide/rect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,887},{171,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,85}</string>
			</dict>
			<key>guide/rect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,493},{85,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,167}</string>
			</dict>
			<key>guide/rect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,173},{169,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,253}</string>
			</dict>
			<key>guide/rect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{254,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,253}</string>
			</dict>
			<key>guide/rect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{422,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,171}</string>
			</dict>
			<key>guide/rect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{85,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,336}</string>
			</dict>
			<key>guide/rect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,256},{131,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,132}</string>
			</dict>
			<key>guide/rect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,256},{145,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,172}</string>
			</dict>
			<key>guide/rect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,339},{84,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,254}</string>
			</dict>
			<key>guide/rect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{253,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,170}</string>
			</dict>
			<key>get_reward/get_tool.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,571},{302,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,84}</string>
			</dict>
			<key>get_reward/n_dem.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,848},{144,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,121}</string>
			</dict>
			<key>get_reward/n_luckygift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{320,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,80}</string>
			</dict>
			<key>get_reward/n_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,853},{55,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,37}</string>
			</dict>
			<key>get_reward/n_rewardbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{438,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,118}</string>
			</dict>
			<key>get_reward/n_watchicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,973},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>get_reward/n_watchimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,995},{108,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,26}</string>
			</dict>
			<key>get_reward/watchtxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{134,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,26}</string>
			</dict>
			<key>invite/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,733},{116,134}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,148}</string>
			</dict>
			<key>invite/tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{398,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,87}</string>
			</dict>
			<key>lottery/free.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,898},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>lottery/n_rewardok.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,853},{55,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,37}</string>
			</dict>
			<key>others/head1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,173},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,253},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head3.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,333},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head4.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,413},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head5.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,477},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shop/addimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,498},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>shop/diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,498},{85,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,69}</string>
			</dict>
			<key>shop/n_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,869},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>shop/normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,662},{209,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,64}</string>
			</dict>
			<key>shop/numberbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,521},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>public/publicbtn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,929},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>public/y_again.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,512},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>game/monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,173},{1,1}}</string>
				<key>offset</key>
				<string>{41,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>honor/addfriends.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{221,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,32}</string>
			</dict>
			<key>honor/playBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,662},{270,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_1.png</string>
			<key>realTextureFileName</key>
			<string>csi_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>