<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,409},{85,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,8}</string>
			</dict>
			<key>game/choosebubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,751},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>
			<key>game/corner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,496},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>game/corner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,506},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>game/diamondbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,225},{198,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,78}</string>
			</dict>
			<key>game/item_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,409},{80,218}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,220}</string>
			</dict>
			<key>game/light_oo.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,216},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>game/loseannimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{277,222}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,225}</string>
			</dict>
			<key>game/max.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,511},{74,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,23}</string>
			</dict>
			<key>game/more_times_today.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1},{406,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,84}</string>
			</dict>
			<key>game/music_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,574},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/music_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,381},{128,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,36}</string>
			</dict>
			<key>game/n_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,206},{173,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,29}</string>
			</dict>
			<key>game/n_itemadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,643},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>game/n_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,887},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>
			<key>game/n_progressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1},{213,213}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,251}</string>
			</dict>
			<key>game/n_progressbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,225},{180,178}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,187}</string>
			</dict>
			<key>game/n_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,532},{117,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,39}</string>
			</dict>
			<key>game/null_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,471},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,587},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,48}</string>
			</dict>
			<key>game/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,500},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>game/pause_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1},{203,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,67}</string>
			</dict>
			<key>game/pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,439},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/result_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,206},{36,204}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,256}</string>
			</dict>
			<key>game/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,337},{100,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,22}</string>
			</dict>
			<key>game/scoredi.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,216},{119,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,22}</string>
			</dict>
			<key>game/sound_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,772},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>game/sound_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,412},{118,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,36}</string>
			</dict>
			<key>game/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{364,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,238}</string>
			</dict>
			<key>effect/fly_pudiding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,681},{88,89}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,872},{103,117}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,871},{123,123}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,592},{145,146}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,590},{148,144}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,629},{139,149}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{132,149}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,739},{130,141}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,751},{123,132}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,755},{111,117}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,425},{73,76}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint10.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,241},{180,173}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint11.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,405},{180,173}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint12.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,401},{177,176}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{177,176}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint14.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,579},{176,174}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint15.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,416},{176,174}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint16.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,580},{169,177}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,419},{169,177}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist2.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist2.png</string>
			<key>size</key>
			<string>{1024,1007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1007</integer>
		</dict>
	</dict>
</plist>