<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/pudding_bomb_effect/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,449},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1},{111,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,717},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{113,111}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b14.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,274},{115,111}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b15.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,112},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,349},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,327},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,851},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,226},{109,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,645},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,422},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,426},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,994},{34,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g10.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,869},{109,106}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g11.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,714},{111,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g12.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,449},{112,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g13.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,235},{112,109}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g14.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,602},{113,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g15.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,330},{108,96}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,869},{69,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,940},{95,83}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g4.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,556},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g5.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,223},{105,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g6.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,742},{107,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g7.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,412},{109,106}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g8.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1},{109,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g9.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,523},{108,106}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,449},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red10.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,116},{112,109}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,602},{113,111}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{114,112}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red13.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,258},{114,111}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red14.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,141},{115,111}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red15.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,343},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,216},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red4.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,223},{102,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red5.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,742},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red6.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,112},{109,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red7.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,757},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red8.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,227},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red9.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,827},{111,109}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,449},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y10.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,230},{111,108}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,600},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y12.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,833},{113,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y14.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1},{115,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y15.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,445},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,869},{70,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y3.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,543},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y4.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,440},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y5.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,337},{106,101}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y6.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,633},{107,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,645},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y8.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,534},{109,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y9.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,114},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,449},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p10.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1},{111,108}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,831},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p12.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,485},{113,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p13.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,717},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p14.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,118},{115,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p15.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,445},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,339},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,629},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p4.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,112},{102,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p5.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,851},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p6.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{109,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,757},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p8.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,114},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p9.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,539},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>result/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{190,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,43}</string>
			</dict>
			<key>result/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,948},{155,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,53}</string>
			</dict>
			<key>result/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>
			<key>result/n_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,274},{210,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,70}</string>
			</dict>
			<key>result/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,374},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>result/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,940},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>result/replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,391},{175,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,56}</string>
			</dict>
			<key>result/smal_star_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{126,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist1.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist1.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>